<!DOCTYPE html>
<html lang = "es">
   <head>
        <title>{% block tititulo%}{%endblock%}</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    </head>   
    <body> 
        <div class="container">
            <div id="branding">
                <h1 class="titulo">LogiPack</h1>
            </div>
                <nav>
                    <ul>
                        <li><a href = "{{ url_for('inicio') }}"> Inicio </a></li>
                        <li><a href = "{{ url_for('repartidor') }}"> Repartidor</a></li>
                        <li><a href = "{{ url_for('despachante') }}"> Despachante </a></li>
                    </ul>
                </nav>
        </div> 

    {% block contenido %}

    {% endblock %}
    <footer>
        <p> LogiPack Hecho por Lucas Zalazar &copy; 2024 </p>
    </footer>
    
    </body>
</html>